<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <title>laka Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://vuejs.org/js/vue.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for " name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link  rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" href="assets/pages/css/login.min.css" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="icon" type="image/png" href="assets/global/img/icon.ico" />
</head>
<!-- END HEAD -->

<body class=" login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="assets/global/img/LOGO+LAKA+ZAMBIA+PNG.png" alt="logo" />
    </div>
    <!-- END LOGO -->
    <div class="content">
        <!-- BEGIN REGISTRATION FORM -->
        <!-- <form action="index.html" method="post" id="registration"> -->
            <form  action="index.html" method="post" id="registration" @submit.prevent="register">
            <h3 class="font-green">Sign Up</h3>
            <p class="hint">Enter your personal details below:</p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">First Name
                </label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Name" v-model="v_firstname" id="v_firstname"/>
            </div>
            <div class="form-group">
                <!-- 	ie8, ie9 does not support html5 placeholder, so we just show field
			title for that -->
                <label class="control-label visible-ie8 visible-ie9">Last Name
                </label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Last Name" v-model="v_lastName" id="v_lastName"/>
            </div>
            <div class="form-group">
                <!-- 	ie8, ie9 does not support html5 placeholder, so we just show field
			title for that -->
                <label class="control-label visible-ie8 visible-ie9">User Name
                </label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="User Name" v-model="v_userName" id="v_userName"/>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" placeholder="Email" v-model="v_email" id="v_email"/>
            </div>
            <!-- 	<p class="hint"></p> -->
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" v-model="v_password" id="v_password"/>
            </div>
             <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password" v-model="v_confirmPassword" id="v_confirmPassword"/>
            </div>
            <div class="form-group margin-top-20 margin-bottom-20">
                <label class="mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="tnc" /> I agree to the <a href="javascript:">Terms
						of Service </a> &amp; <a href="javascript:">Privacy Policy </a> <span></span>
                </label>
            </div>
            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn green btn-outline">Back</button>
                <!-- <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right" v-on:click="succ">Submit</button> -->
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    </div>
    <div class="copyright">
        <a href="https://simhagroup.in/"> ©2018 Simha online Services
		Private Limited, All Rights Reserved.</a>
    </div>
</body>
<!-- BEGIN CORE PLUGINS -->
<script>
var vm_reg = new Vue({
    el: '#registration',

    data: {
    	v_firstname: '',
        v_lastName: '',
        v_userName: '',
        v_email: '',
        v_password: '',
        v_confirmPassword:'',
        errors: {}
    },

    methods: {
        register(){
            if(this.v_password !== this.v_confirmPassword){
                alert("Passwords do not match");
                return;
            }
            axios({
                method:'post',
                url:'register',
                data:{firstName:this.v_firstname,lastName:this.v_lastName,username:this.v_userName,email:this.v_email,password:this.v_password}
            }).then(function(response){
                document.location.replace("/login");
            });
        }
    }

});

</script>
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
<!-- <script src="https://vuejs.org/js/vue.js"></script> -->
<script src="assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="assets/pages/scripts/login.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
$(document).ready(function() {
    $('#clickmewow').click(function() {
        $('#radio1003').attr('checked', 'checked');
    });
})
</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script> -->
<!-- <script src="registration.js"></script>
 -->
</html>